.jumbotron{
    background-color: rgba(100,100,100,0.5);
    margin: 25px;
    padding: 25px;
  }



img{
    width: 100%;

  }


body{
    background: url('pictures/background_lights.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    color: white;
  }

h2 {
  font-family: 'Roboto Condensed', sans-serif;
  }

h4 {
  font-family: 'Raleway', sans-serif;
}

.jumbotron p {
    font-size: 0.90em;
  }

tr, td, th {
    color: black;
  }
